<div class="container-fluid">
  <h1 class="text-center mt-3">MY LEARING JOURNEY</h1>

  <div class="card shadow-lg p-2 mb-5 bg-white rounded mt-3">
    <h2 class="text-center text-primary">My Self</h2>
    <div class="row mt-2">
      <div class="col-12 text-center mt-1">
          <img class="my-photo" src="assets/myphoto1.jpg" alt="My Photo">
      </div> 
    </div>
    <div class="row">
      <div class="col mt-3">
        <p>&#9830; My name is Prabhashana Jayarathna and i'm 22 years old. I have completed the software engineering HID so far. (My qualifications and skills are well explained in my CV.) I hope to give a detailed description of the projects I have done. <b>My goal is to develop and maintain good software as a computer software engineer and develop software according to customer demand. And to maintain the trust of the customers, providing options from the computer software field to enhance their user experience.</b><br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h6>&#10022;Currently used computer programming languages ​​and technologies</h6>
        <ul>
          <li><b>Java</b></li>
          <li><b>Spring Boot</b></li>
          <li><b>Angular</b></li>
          <li>Type Script</li>
          <li>GitHub</li>
          <li>MySQL</li>
          <li>VPS</li>
          <li>Firebase</li>
          <li>Android App Development with Java</li>
        </ul>
      </div>

      <div class="col-md-5">
        <h6>&#10022;Familiar and some used languages</h6>
        <ul>
          <li>Python</li>
          <li>PHP</li>
          <li>C#</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card shadow-lg p-2 mb-5 bg-white rounded">
    <h2 class="text-center text-primary">My Projects</h2>
    <h4 class="mt-2"><b>1. Web Application With Spring Boot, Angular and MySQL Database</b></h4>

    <div class="row">
      <div class="col-md-6 text-center">
        <img class="img-1 shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/Screenshot 2024-09-12 at 13.44.33.png" alt="Image-1">
      </div>
      <div class="col-md-6">
        <p>This web application is developed for a phone repair shop called Mega Supply (Pvt) Ltd. located in Dambulla. This application creates a task related to a phone brought for repair and accepts it to the institution. Then the employees of the company check the phone and update the status related to the task.
        </p>
        <p>&#10022;This application provides the following facilities</p>
        <ul>
          <li>Creating a repair job.</li>
          <li>Ability to get sticker labels containing information related to the new job.</li>
          <li><b>The customer can check the status of the repair through the QR code on the sticker label.</b></li>
          <li><b>Ability to calculate daily income and monthly income for the owner of the shop.</b></li>
          <li><b>Checking the income of the monthly and daily repairs done by the employees of the shop.</b></li>
          <li>Ability to monitor the status of phone that have received for repair.</li>
          <li>Issuing the bill related to the repair.</li>
          <li><b>Notify employees via email when they log in using their account or when someone else tries to log in</b></li>
        </ul>
      </div>
    </div>

    <h6>Link to this app: <a href="https://repair.megasupply.lk">Click Here</a></h6>

    <h5 class="mt-2">Below are some screen shots related to the UI of this application</h5>

    <div class="row mt-3">


      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/job1.png" class="d-block sliderphoto" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/job2.png" class="d-block sliderphoto" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/admindashboard.png" class="d-block sliderphoto" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      



      <!--
      <div class="col-md-6">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/job1.png" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-6">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/job2.png" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/addform.PNG" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/addnewuser.png" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/monthly.PNG" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/usersales.PNG" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/yearsales.PNG" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/okemail.PNG" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/updateemail.PNG" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/failedemail.PNG" alt="user dashboard for manage jobs">
      </div>
      <div class="col-md-4">
        <img class="screenshots shadow-lg p-2 mb-4 bg-white rounded" src="assets/images/updateemail.PNG" alt="user dashboard for manage jobs">
      </div>-->
    </div>



  </div>





</div>