.my-photo{
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px;
}

.img-1{
    max-width: 100%;
}

.sliderphoto{
}


.carousel-item img {
    height: 500px;
    object-fit: cover;
  }
  