.my-photo{
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px;
}

.img-1{
    max-width: 100%;
}

.carousel-item img {
    border: 2px solid #bce0f1; /* Add a border with a light gray color */
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
  