<div class="container-fluid">
  <h1 class="text-center mt-3">MY LEARING JOURNEY</h1>

  <div class="card shadow-lg p-2 mb-5 bg-white rounded mt-3">
    <h2 class="text-center text-primary">My Self</h2>
    <div class="row mt-2">
      <div class="col-12 text-center mt-1">
          <img class="my-photo" src="/assets/myphoto1.jpg" alt="My Photo">
      </div> 
    </div>
    <div class="row">
      <div class="col mt-3">
        <p>&#9830; My name is Prabhashana Jayarathna and i'm 22 years old. I have completed the software engineering HID so far. (My qualifications and skills are well explained in my CV.) I hope to give a detailed description of the projects I have done. <b>My goal is to develop and maintain good software as a computer software engineer and develop software according to customer demand. And to maintain the trust of the customers, providing options from the computer software field to enhance their user experience.</b><br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>&#10022;Currently used computer programming languages ​​and technologies</h6>
        <ul>
          <li><b>Java</b></li>
          <li><b>Spring Boot</b></li>
          <li><b>Angular</b></li>
          <li>Type Script</li>
          <li>GitHub</li>
          <li>MySQL</li>
          <li>VPS</li>
          <li>Firebase</li>
          <li>Android App Development with Java</li>
        </ul>
      </div>

      <div class="col-6">
        <h6>&#10022;Familiar and some used languages</h6>
        <ul>
          <li>Python</li>
          <li>PHP</li>
          <li>C#</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card shadow-lg p-2 mb-5 bg-white rounded">
    <h2 class="text-center text-primary">My Projects</h2>
    <h5 class="mt-2">1. Web Application With Spring Boot & Angular</h5>

    <div class="row">
      <div class="col">
        <p></p>
      </div>
    </div>



  </div>





</div>